@charset "UTF-8";

@charset "UTF-8";


h4{ border: solid 1px red;}

h5{ border-top: solid 2px skyblue;
	border-right: dotted 3px black;
	border-bottom: double 4px red;
	border-left: dashed 5px gray;
	border-radius: 20px; 
	box-shadow: -10px -10px 5px red;
}

h6{ 
	border: solid 2px red;
	padding-top: 40px; 	
	
	
	margin-top: 20px;
	margin-left: 40px;  
	
}


h2{
	border: solid 2px red;
	padding: 50px 60px 10px;
	
}

h1{ 
	width: 200px;
	border: solid 1px orange;
	text-align: center;
	margin: 0 auto; 
	
	
}







