@charset "UTF-8";

*{
	margin: 0px; padding: 0px;
	list-style-type: none;
}
/* 폰트 눈누꺼  */
@font-face {
    font-family: 'OAGothic-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

a{
	color:black; 
	text-decoration: none;
}


/*해더 css*/
.header{
	display:flex;
	align-items: center;
	justify-content: space-between;
	margin : 20px 0px;
}

.mainLogo{
	width: 10%;
}

.mainLogo img{
	width: 100%
}

.mainmenu{
	width: 70%;
	display: flex;
	justify-content: center;
	margin: 0px !important;
	font-size: 20px;
}
.mainmenu li{
	margin: 0px 10px;
}


.submemu{
	width: 20%;
	display: flex;
	align-content: center;
	justify-content: flex-end;
}

.submenu a{
	margin-left: 15px;
	font-size: 13px;
	margin: 10px;
	padding: 10px;
}


/*해더 로그인 프로필*/
.hpimg{
	width: 50px;
	height: 50px;
	border: solid 1px #e8e8e8;
	border-radius: 50%;	
}

.hpimghtn{
	border:none;
	background-color: transparent;
	
}





