@charset "UTF-8";

.wrap{/*게임화면 설정  */
	width: 1000px; height: 600px; margin: 0 auto; 
	position:relative;	/*하위요소들의 기준점이 되는거라 중요함  */
	background-image: url("img/게임배경.jfif");
	background-repeat:no-repeat;
	background-size: 110%;
	
}

.userbox{
	width: 100px;
	height: 100px;
	position: absolute;
	left:10px; top:430px;
	background-image: url("img/케릭터1.png");
	background-repeat:no-repeat;
	background-size: 90%;
}

.monbox{
width: 100px; height: 100px; position: absolute;
	left: 910px; top : 430px;
	background-image: url("img/주황버섯.gif"); background-repeat: no-repeat; background-size: 70%;
	transition : all 1s; /* 애니메이션 1초간 부드럽게 이동 효과 */
}


.bar{
	justify-content: space-between;
	display: flex;
	
}

.c_bar{
	width: 300px; height: 30px; position: absolute;
	left: 70px; top:30px;
	background-size: 80%;
	background-repeat:no-repeat;
	background-color: red;
}

.m_bar{
	width: 300px; height: 30px; position: absolute;
	left: 650px; top:30px;
	background-size: 80%;
	background-repeat:no-repeat;
	background-color: red;
	
}


