@charset "UTF-8";

.side_menu li{ 
	display: inline-block;	/* li 가로 배치 [ 자동으로 글머리 제거 ] */
	margin-left: 80px; 		/* li 끼리의 사이 여백 */
	font-family: "Ansungtangmyun-Bold";		/* pc에 설치된 폰트만 가능 */
 }
 
 .top_menu{ 
	text-align: right; 		/* 오른쪽 정렬 */
	margin-top: 20px;		/* 바깥 위 여백 */
}
 