@charset "EUC-KR";



/***************** 공통설정 *********************/
 * {background-color:white;
 	 text-align:center;
 }
 	 
a{
text-decoration: none;
color: black;
}

/* 맨위 광고 */
 .cgv_ad_top {
 position:relative;
 width:980px;
 height:80px;
 margin:0 auto
 }
 

 
 .header {
 	display:  flex;
    margin-bottom: 50px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    width:100%;
    text-align: right; 
    position: relative;
    z-index: 101;
}
 
 .header .contents {
    display: inline-block;
    justify-content: space-between;
    padding: 30px 6px 25px 5px;
    background-color: #fff;
 }
 
 .memberInfo_wrap li {
 	display: inline-block;
 	margin-left: 80px; 	
 	list-style: none;
 }
 
 .sub_content li{
 	list-style: none;
 }
 
 .header_content {
    margin-bottom: 50px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.header_content .contents {
    display: flex;
    justify-content: space-between;
    padding: 30px 6px 25px 5px;
    background-color: #fff;
}

.header .contents {
    width: 980px;
    margin: 0 auto;
}

.nav {
    position: absolute;
    left: 0;
    top: 113px;
    width: 100%;
    padding: 5px 0;
    background-color: #fff;
}

input, select, img {
    vertical-align: middle;
}

.header_content .contents .memberInfo_wrap {
    display: flex;
    align-items: center;
}

#cgvwrap {
    position: relative;
    width: 100%;
    min-width: 1040px;
}