/*공통 */
 * {background-color:white;
 	 text-align:left;
 	 text-decoration: none;
 	 
 }


/* 맨위 광고 */
.cgv_ad_top{
	background-color: #DEDEDE;
	text-align: center;
	
}

/*헤더 전체구역설정  */
.header {
    position: relative;
    z-index: 101;
}

/* logo|| 광고 로그인 회원가입 my_cgv 고객센터   */
.header_top {
    margin-bottom: 50px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.header .header_btn {
    width: 980px;
    margin: 0 auto;
}

.header_top .header_btn {
    display: flex;
    justify-content: space-between;
    padding: 30px 6px 25px 5px;
    background-color: #fff;
}

.header_top .header_btn h1 {
    display: inline-flex;
    align-items: flex-end;
    height: 53px;
}

.header_top .header_btn h1 a {
    display: block;
    float: left;
    height: 100%;
}

.header_top .header_btn h1 a img {
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
}


.header_top .header_btn h1 span {
    font-weight: 300;
    font-size: 16px;
    color: #222;
    letter-spacing: 0.313em;
    line-height: 1.500em;
}

.btn_list li{
	list-style: none;
}



.header_top .header_btn .btn_list {
    display: flex;
    align-items: center;
    
}

.header_top .header_btn .btn_list li {
    margin-left: 44px;
    margin-top: 2px;
    
}

.header_top .header_btn .btn_list a {
    display: block;
    position: relative;
    padding-bottom: 19px;
}

.header_top .header_btn .btn_list li a img {
    width: 36px;
    height: 36px;
}


.header_top .header_btn .btn_list li a span {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 13px;
    color: #666;
    line-height: 1.462em;
    white-space: nowrap;
    transform: translate(-50%, 0);
}


/* 헤더 하위목록 */



a {
	color: black !important;
	text-decoration: none !important;
}

.h_menu { width: 1040px; margin: 0 auto; display: flex; justify-content: space-between; }
.h_menu li{ display: inline-block; margin-right: 50px; }

.h_menu:hover .menu_list{ display: none; }


.menu_list{ width:1040px; display: flex; margin: 0 auto;
position: relative; 
}


.menu_list li { list-style: none;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    
}


.menu_list2{
	width:1040px; display: flex; 
	position: absolute; display: none;  top : 40px; 
	left: 0px;
	
}	

.menu_list2 li{
	margin: 0 px;
	padding: 0px 20px;
	list-style-type: none;
}
.menu_list:hover .menu_list2{ display: flex; 
	 }
	
.top {
	display: flex;
	
	
}
.top div{
	margin-right: 50px; 
	margin-left: 55px;
	top : 130px;
	left: -20px;
}

.wrap div{
	left: -20px;
}

.wrap_search{
	top: 20px;
	
}

.tmffoa{
	border-bottom-style: none;
	border-top-style: none;

}

#ejdzm{
	margin-top: 10px;
}
/*
	footer
*/


.footer_list {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    padding: 23px 0;
    border-bottom: 1px solid #ebebeb;
}

.footer_list li{
	list-style-type: none;
}

.footer_list li a {
    font-weight: 500;
    font-size: 13px;
    color: #666;
    line-height: 1.462em;
}

.company_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 980px;
    margin: 0 auto;
    padding: 23px 0;
}

.company_info {
    font-size: 12px;
    color: #666;
    line-height: 1.667em;
}



.company_info .company_info_list {
    display: flex;
}



.footer {
    display: none;
}

.footer .familysite_wrap .finish {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 34px;
    margin-left: -1px;
    font-size: 14px;
    color: #fff;
    line-height: 1.429em;
    background-color: #9e9e9e;
    vertical-align: top;
}