@charset "UTF-8";


*{ margin: 0; padding: 0; font-family: "맑은 고딕";}
a{ text-decoration: none; color: black; }
li{ list-style-type: none; }


/* ------- 공통 ---------------*/



#header{ 
	width: 1200px; margin: 0 auto; height: 100px;
	position: relative;		/* 상위요소에 relative */
}



.menu_sub_logo	{
	font-size: 25px;
	width: 460px;					/*로고 박스권  */
	padding: 5px;
	font-weight: bold;
}



.menu_top	{
	text-align: right; 		/* 오른쪽 정렬 */
	margin-top: 20px;		/* 바깥 위 여백 */
	display: inline-block;
}

/* --------헤더------------------ */