@charset "UTF-8";


.wrap{
	display: flex;			/* 레이아웃 배치 사용 */
	justify-content: center; /* 레이아웃 가운데정렬 */
	flex-wrap: wrap;
}
.addbox , .listbox, .updatebox{
	border: 1px solid red;	/* 테두리 */
	width: 40%;				/* 가로길이 배율 */
	text-align: center;		/* content 가운데정렬 */
}
.addtable, .updatetable {
	margin: 0 auto;
}

.updatebox {display: none; }